<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lumina</title>
    <link rel="stylesheet" href="./assets/styles/index.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="logo">
        <img src="./assets/icons/logo.png" alt="Logo Lumina" />
        <h1>Lumina</h1>
      </div>

     <div class="auth-buttons">
        <button class="btn-secondary" id="btn-entrar">Entrar</button>
        <button class="btn-primary" id="btn-cadastrar">Cadastrar</button>
      </div>
    </header>

    <main>
      <section class="hero">
        <div class="hero-content">
          <h2>Compartilhe ideias.</h2>
          <p>Um espaço para trocar conhecimento.</p>
        </div>
      </section>
    </main>
    <script src="./assets/scripts/index.js"></script>
  </body>
</html>